@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@media screen and (max-width: 786px) {
    header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: #26335D;
        padding-top: 5px;
    }

    body{
      background-color: #F6F6F6;
      margin: 0;
      line-height: 1.6;
      font-family: "Inter", sans-serif;
    }

    .space{
      width: 80%;
      margin: auto;
    }


    .name{
        font-size: 1.75rem;
        font-weight: 900;
        color: white;
        font-family: "Inter", sans-serif;
        margin-left: 30px;
    }

    .e{
        color: #B85E2C;
    }
    .dropdown{
        padding: 10px;
        margin-right: 15px;
        margin-top: 4px;
    }

    .first, .second{
        padding: 10px;
    }
    .second{
        padding: 10px;
        color: white;
        background-color: #26335D;
    }

    .img{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }


    .scrollable-container {
        overflow-x: auto;
        white-space: nowrap;
        background-color: #26335D;
        padding-bottom: 40px;

      }
    .scrollable-content-one {
        display: flex;
        
      }
      .item {
        display: inline-block;
        padding: 10px;
        background-color: #26335D;
        margin: 10px 10px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
      }
      .hero{
        font-family: "Inter", sans-serif;
      }
      .design{
        font-weight: 200;
        margin: 0;
      }
      .orange{
        font-size: 0.85rem;
        color: #FF5100;
        margin: 0;
        padding: 0;
      }
      .blue{
        color: #26335D;
        font-family: "Inika", serif;
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
      }
      .focus{
        color: #FF5100;
        font-family: "Inika", serif;
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
      }
      span{
        color: #FF5100;
      }
      .meet{
        text-align: center;
        font-family: "Inika", serif;
        font-size: 1.5rem;
        font-weight: bold;
        
      }
      
      .three{
        background-color: rgb(197, 196, 196);
        padding-top: 10px;
      }
      .sponsor{
        width: 90%;
        margin: auto;
        padding: 10px;
      }


      footer{
        background-color: #26335D;
        color: white;
        font-family: "Inter", sans-serif;
        margin: 0;
        padding: 15px 30px;
      }
  
      #footer-explore{
        display: flex;
        justify-content: space-between;
        font-family: "Inika", serif;
        width: 80%;
        font-size: 0.81rem;
      }
  
      .mea-footer{
        font-size: 30px;
        font-weight: bold;
        margin: 0;
      }
  
      .color-brown{
        color: #B85E2C;
      }
  
      .color-blue{
        color: #2C66B8;
      }
      .footer-us{
        font-size: 18px;
        font-weight: 500;
      }
      .call{
        font-size: 0.87rem;
        margin: 0;
      }
  
      .brands{
        font-size: 20px;
        margin-top: 10px;
      }
  
      .exp{
        font-size: 1.123rem;
      }
      .footer-news{
        text-align: center;
      }
      #emaill{
        width: 80%;
        padding: 5px;
      }
      #letter{
        font-size: 1.125rem;
      }
      #subscribe-footer{
        background-color: #FF6551;
        color: white;
        margin-top: 5px;
        padding: 3px;
        width: 100px;
        margin: 10px auto;
      }
}
@media screen and (min-width: 787px) and (max-width: 999px) {
  header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #26335D;
    padding-top: 5px;
}

body{
  background-color: #F6F6F6;
  margin: 0;
  line-height: 1.6;
  font-family: "Inter", sans-serif;
}

.space{
  width: 80%;
  margin: auto;
}


.name{
    font-size: 1.75rem;
    font-weight: 900;
    color: white;
    font-family: "Inter", sans-serif;
    margin-left: 30px;
}

.e{
    color: #B85E2C;
}
.dropdown{
    padding: 10px;
    margin-right: 15px;
    margin-top: 4px;
}

.first{
    padding: 20px;
}

.second{
    padding: 20px;
    color: white;
    background-color: #26335D;
}

.img{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.scrollable-container {
    overflow-x: auto;
    white-space: nowrap;
    background-color: #26335D;
    padding-bottom: 40px;

  }
.scrollable-content-one {
    display: flex;
    
  }
  .item {
    display: inline-block;
    padding: 10px;
    background-color: #26335D;
    margin: 10px 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
  .hero{
    font-family: "Inter", sans-serif;
  }
  .design{
    font-weight: 200;
    margin: 0;
  }
  .orange{
    font-size: 0.85rem;
    color: #FF5100;
    margin: 0;
    padding: 0;
  }
  .blue{
    color: #26335D;
    font-family: "Inika", serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
  }
  .focus{
    color: #FF5100;
    font-family: "Inika", serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
  }
  span{
    color: #FF5100;
  }
  .meet{
    text-align: center;
    font-family: "Inika", serif;
    font-size: 1.5rem;
    font-weight: bold;
    
  }
  
  .three{
    background-color: rgb(197, 196, 196);
    padding-top: 10px;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
  }
  .sponsor{
    width: 90%;
    margin: auto;
    padding: 10px;
  }


  footer{
    background-color: #26335D;
    color: white;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 15px;
  }
  .com{
    margin-top: 25px;
  }

  .threee{
    display: flex;
    justify-content: space-around;
  }
  #footer-explore{
    display: flex;
    justify-content: space-around;
    font-family: "Inika", serif;
    width: 600px;
  }

  .mea-footer{
    font-size: 30px;
    font-weight: bold;
    margin: 0;
  }

  .color-brown{
    color: #B85E2C;
  }

  .color-blue{
    color: #2C66B8;
  }
  .footer-us{
    font-size: 18px;
    font-weight: 500;
  }
  .call{
    font-size: 14px;
    margin: 0;
  }

  .brands{
    font-size: 20px;
    margin-top: 10px;
  }

  .exp{
    font-size: 20px;
    font-weight: 300;
  }
  .footer-news{
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
  }
  #emaill{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 5px;
  }
  #letter{
    font-size: 20px;
    margin: 0;
    margin-left: 50px;
    
  }
  #subscribe-footer{
    background-color: #FF6551;
    color: white;
    width: 100px;
    height: 25px;
    border-radius: 4px;
    padding: 3px;
  }
  .ftn{
    display: flex;
    justify-content: space-around;
    width: 70%;
  }


}

@media (min-width: 1000px){
  header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #26335D;
    padding-top: 5px;
}

body{
  background-color: #F6F6F6;
  margin: 0;
  line-height: 1.6;
  font-family: "Inter", sans-serif;
}

.space{
  width: 80%;
  margin: auto;
}


.name{
    font-size: 1.75rem;
    font-weight: 900;
    color: white;
    font-family: "Inter", sans-serif;
    margin-left: 30px;
}

.e{
    color: #B85E2C;
}
.dropdown{
    padding: 10px;
    margin-right: 15px;
    margin-top: 4px;
}

.first{
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.box{
  width: 40%;
}

.second{
    padding: 20px 100px;
    color: white;
    background-color: #26335D;
}

.img{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.scrollable-container {
    overflow-x: auto;
    white-space: nowrap;
    background-color: #26335D;
    padding-bottom: 40px;

  }
.scrollable-content-one {
    display: flex;
    
  }
  .item {
    display: inline-block;
    padding: 10px;
    background-color: #26335D;
    margin: 10px 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
  .hero{
    font-family: "Inter", sans-serif;
  }
  .design{
    font-weight: 200;
    margin: 0;
  }
  .orange{
    font-size: 0.85rem;
    color: #FF5100;
    margin: 0;
    padding: 0;
  }
  .blue{
    color: #26335D;
    font-family: "Inika", serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
  }
  .focus{
    color: #FF5100;
    font-family: "Inika", serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
  }
  span{
    color: #FF5100;
  }
  .meet{
    text-align: center;
    font-family: "Inika", serif;
    font-size: 1.5rem;
    font-weight: bold;
    
  }
  
  .three{
    background-color: rgb(197, 196, 196);
    padding-top: 10px;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
  }
  .sponsor{
    width: 90%;
    margin: auto;
    padding: 10px;
  }


  footer{
    background-color: #26335D;
    color: white;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 15px;
  }
  .com{
    margin-top: 25px;
  }

  .threee{
    display: flex;
    justify-content: space-around;
  }
  #footer-explore{
    display: flex;
    justify-content: space-around;
    font-family: "Inika", serif;
    width: 600px;
  }

  .mea-footer{
    font-size: 30px;
    font-weight: bold;
    margin: 0;
  }

  .color-brown{
    color: #B85E2C;
  }

  .color-blue{
    color: #2C66B8;
  }
  .footer-us{
    font-size: 18px;
    font-weight: 500;
  }
  .call{
    font-size: 14px;
    margin: 0;
  }

  .brands{
    font-size: 20px;
    margin-top: 10px;
  }

  .exp{
    font-size: 20px;
    font-weight: 300;
  }
  .footer-news{
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
  }
  #emaill{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 5px;
  }
  #letter{
    font-size: 20px;
    margin: 0;
    margin-left: 50px;
    
  }
  #subscribe-footer{
    background-color: #FF6551;
    color: white;
    width: 100px;
    height: 25px;
    border-radius: 4px;
    padding: 3px;
  }
  .ftn{
    display: flex;
    justify-content: space-around;
    width: 70%;
  }

}