@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@media screen and (max-width: 786px) {
    header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: black;
        padding-top: 5px;
    }

    body{
      background-color: #F6F6F6;
      margin: 0;
      line-height: 1.6;
      font-family: "Inter", sans-serif;
    }

    .space{
      width: 80%;
      margin: auto;
    }


    .name{
        font-size: 1.75rem;
        font-weight: 900;
        color: white;
        font-family: "Inter", sans-serif;
        margin-left: 30px;
    }
    .dropdown{
        padding: 10px;
        margin-right: 15px;
        
    }
    .navi{
      padding: 2px;
      background-color: white;
      border: none;
      margin-bottom: -5px;
      width: 30px;
    }
    .navi-brown{
      background-color: white;
      padding: 2px;
      border: none;
      width: 30px;
    }
    .navi-blue{
      padding: 2px;
      background-color: white;
      border: none;
      margin-top: -5px;
      width: 30px;
    }
    .navbar-links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    a{
        text-decoration: none;
    }
    .dropdown-desk{
        display: none;
    }

    .first{
        background-image: url(./img/donation.png);
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 60vh; /* Set the height to 100% of the viewport height */
        color: white;
        display: flex;
        justify-content: center;
    }
    #bridge{
        width: 70%;
    }
    .bridge{
        font-size: 2rem;
        margin-top: 20px;
        font-weight: bold;
    }
    .divide{
        display: flex;
        justify-content: space-around;
    }
    .more{
        border: 1px solid white;
        padding: 9px;
        text-align: center;
    }
    .more:hover{
        background-color: black;
    }
    .meet{
        display: flex;
        flex-direction: column-reverse;
    }

    .imgg{
        display: none;
    }

    .cont-mont{
        padding: 0 20px;
        font-family: "Montserrat", serif;
    }
    .mont{
        font-size: 1rem;
    }
    #mont{
        font-weight: bold;
        font-size: 1.75rem;
    }
    #more{
        border: 1px solid black;
        padding: 10px;
        width: 30%;
        text-align: center;
    }
    #more:hover{
        background-color: black;
        color: white;
    }


    .third{
        background-color: black;
        color: white;
        padding: 5px 20px;
    }
    .start{
        font-size: 1.5rem;
        text-align: center;
        
    }
    .gen{
        font-size: 0.85rem;
        color: #bbb9b9;
        text-align: center;
        margin: 0;
    }
    #gen{
        font-size: 0.85rem;
        color: #484848;
    }
    .how{
        text-align: center;
    }
    .space{
        margin-top: 20px;
        text-align: center;
    }
    


    .container{
        max-width: 60%;
        margin: 20px auto;
    }
    .email{
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
    }
    .com{
        text-decoration:underline;
        color: #484848;
    }
    
}


@media screen and (min-width: 787px) and (max-width: 999px) {
    header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: black;
        padding-top: 5px;
    }

    body{
      background-color: #F6F6F6;
      margin: 0;
      line-height: 1.6;
      font-family: "Inter", sans-serif;
    }

    .space{
      width: 80%;
      margin: auto;
    }


    .name{
        font-size: 1.75rem;
        font-weight: 900;
        color: white;
        font-family: "Inter", sans-serif;
        margin-left: 30px;
    }
    .dropdown{
        padding: 10px;
        margin-right: 15px;
        margin-top: 4px;
    }
    a{
        text-decoration: none;
    }
    .dropdown-desk{
        display: none;
    }

    .first{
        background-image: url(./img/donation.png);
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 40vh; /* Set the height to 100% of the viewport height */
        color: white;
        display: flex;
        justify-content: center;
    }
    #bridge{
        width: 70%;
    }
    .bridge{
        font-size: 2rem;
        margin-top: 20px;
        font-weight: bold;
    }
    .divide{
        display: flex;
        justify-content: space-around;
    }
    .more{
        border: 1px solid white;
        padding: 9px;
        text-align: center;
    }
    .more:hover{
        background-color: black;
    }
    .meet{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .imgg{
        margin-top: 20px;
        margin-right: 40px;
        margin-bottom: 20px;
    }

    .cont-mont{
        padding: 0 20px;
        font-family: "Montserrat", serif;
        width: 40%;
    }
    .mont{
        font-size: 1rem;
    }
    #mont{
        font-weight: bold;
        font-size: 1.75rem;
    }
    #more{
        border: 1px solid black;
        padding: 10px;
        width: 30%;
        text-align: center;
    }
    #more:hover{
        background-color: black;
        color: white;
    }


    .third{
        background-color: black;
        color: white;
        padding: 5px 30px;
    }
    .start{
        font-size: 1.5rem;
        text-align: center;
        
    }
    .gen{
        font-size: 0.85rem;
        color: #bbb9b9;
        text-align: center;
        margin: 0;
    }
    #gen{
        font-size: 0.85rem;
        color: #484848;
    }
    .how{
        text-align: center;
        display: flex;
    }
    .space{
        margin-top: 20px;
        text-align: center;
    }
    .four{
        display: flex;
        padding: 0 20px;
        justify-content: center;
    }
    .container{
        max-width: 30%;
        margin: 20px;
    }
    .email{
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
    }
    .com{
        text-decoration:underline;
        color: #484848;
    }
    
}

@media (min-width: 1000px){
    header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: black;
        padding-top: 5px;
    }

    body{
      background-color: #F6F6F6;
      margin: 0;
      line-height: 1.6;
      font-family: "Inter", sans-serif;
    }

    .space{
      width: 80%;
      margin: auto;
    }


    .name{
        font-size: 1.75rem;
        font-weight: 900;
        color: white;
        font-family: "Inter", sans-serif;
        margin-left: 30px;
    }
    .dropdown{
        padding: 10px;
        margin-right: 15px;
        margin-top: 4px;
    }
    a{
        text-decoration: none;
    }
    .dropdown-desk{
        display: none;
    }

    .first{
        background-image: url(./img/donation.png);
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 40vh; /* Set the height to 100% of the viewport height */
        color: white;
        display: flex;
        justify-content: center;
    }
    #bridge{
        width: 70%;
    }
    .bridge{
        font-size: 2rem;
        margin-top: 20px;
        font-weight: bold;
    }
    .divide{
        display: flex;
        justify-content: space-around;
    }
    .more{
        border: 1px solid white;
        padding: 9px;
        text-align: center;
    }
    .more:hover{
        background-color: black;
    }
    .meet{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .imgg{
        margin-top: 20px;
        margin-right: 40px;
        margin-bottom: 20px;
    }

    .cont-mont{
        padding: 0 20px;
        font-family: "Montserrat", serif;
        width: 40%;
    }
    .mont{
        font-size: 1rem;
    }
    #mont{
        font-weight: bold;
        font-size: 1.75rem;
    }
    #more{
        border: 1px solid black;
        padding: 10px;
        width: 30%;
        text-align: center;
    }
    #more:hover{
        background-color: black;
        color: white;
    }


    .third{
        background-color: black;
        color: white;
        padding: 5px 30px;
    }
    .start{
        font-size: 1.5rem;
        text-align: center;
        
    }
    .gen{
        font-size: 0.85rem;
        color: #bbb9b9;
        text-align: center;
        margin: 0;
    }
    #gen{
        font-size: 0.85rem;
        color: #484848;
    }
    .how{
        text-align: center;
        display: flex;
    }
    .space{
        margin-top: 20px;
        text-align: center;
    }
    .four{
        display: flex;
        padding: 0 20px;
        justify-content: center;
    }
    .container{
        max-width: 30%;
        margin: 20px;
    }
    .email{
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
    }
    .com{
        text-decoration:underline;
        color: #484848;
    }
}