@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@media screen and (max-width: 786px) {
    body{
        padding: 0;
        margin: 0;
    }
    header{
        background-color: #2C59C0;
        padding: 20px;
        color: white;
        font-family: "Inter", sans-serif;
    }
    .home{
        display: flex;
        font-size: 1rem;
        font-weight: bold;
    }
    .bold{
        font-size: 1.75rem;
    }
    .body-text{
        font-size: 1.125rem;
        font-family: "Inria Sans", sans-serif;
        font-weight: 200;
        color: #D4D2D2;
    }
    #yusufs{
        display: flex;
    }
    .yusuf-mini{
        background-image: url(./img/yusufmini.png);
        width: 62px;
        height: 69.13px;
    }
    .up{
        margin-top: -10px;
        margin-left: 6px;
    }
    .halfsection{
        padding: 20px;
        font-family: "Inria Sans", sans-serif;
    }
    #description{
        font-family: "Inika", serif;
        font-size: 1.75rem;
        margin: 0;
    }
    .imghalf{
        background-image: url(./img/teacher.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 30vh; /* Set the height to 100% of the viewport height */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #play{
        background-color: rgba(255, 255, 255, 0.568);
        padding: 30px;
        border-radius: 50%;
        height: 30px;
    }
}