@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@media screen and (max-width: 786px) {
    body{
        background-color: #2C66B8;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        
    }
    header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    }
    .name{
        font-size: 2rem;
        font-weight: 900;
        color: white;
        font-family: "Inter", sans-serif;
        margin-left: 30px;
    }
    nav{
        font-size: 1rem;
        margin-left: 30px;      
        margin-top: 10px;
        font-family: "Inter", sans-serif;
        display: flex;
        flex-direction: column;
        height: 40vh;
        justify-content: space-evenly;
    }

    .e{
        color: #B85E2C;
    }
    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        background-color: #26335D;
        color: white;
    }
    main{
        font-size: 1rem;
        margin-left: 30px;      
        margin-top: 10px;
        font-family: "Inter", sans-serif;
        display: flex;
        flex-direction: column;
        height: 30vh;
        justify-content: space-evenly;
    }
    hr{
        width: 100%;
    }
    footer{
        text-align: center;
        color: rgb(93, 91, 91);
        margin-top: 50px;
    }
    
}