@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@media screen and (max-width: 786px) {
    body{
        margin: 0;
        padding: 0;
    }
    header{
        padding: 20px;
        font-family: "Inter", sans-serif;
        
    }
    .home{
        display: flex;
        font-size: 1rem;
        font-weight: bold;
    }
    #home{
        color: #8F8E8E;
    }

    .section{
        padding: 20px;
    }
    .set{
        font-size: 1.85rem;
        font-weight: 500;
        font-family: "Inika", serif;
    }


    #yusufs{
        display: flex;
    }
    .yusuf-mini{
        background-image: url(./img/alpha.png);
        width: 62px;
        height: 69.13px;
    }
    .up{
        margin-top: -10px;
        margin-left: 6px;
    }


}